@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('PFBeauSansPro-Regular.eot');
    src: url('PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('PFBeauSansPro-Regular.woff2') format('woff2'),
        url('PFBeauSansPro-Regular.woff') format('woff'),
        url('PFBeauSansPro-Regular.ttf') format('truetype'),
        url('PFBeauSansPro-Regular.svg#PFBeauSansPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('PFBeauSansPro-Light.eot');
    src: url('PFBeauSansPro-Light.eot?#iefix') format('embedded-opentype'),
        url('PFBeauSansPro-Light.woff2') format('woff2'),
        url('PFBeauSansPro-Light.woff') format('woff'),
        url('PFBeauSansPro-Light.ttf') format('truetype'),
        url('PFBeauSansPro-Light.svg#PFBeauSansPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('PFBeauSansPro-Thin.eot');
    src: url('PFBeauSansPro-Thin.eot?#iefix') format('embedded-opentype'),
        url('PFBeauSansPro-Thin.woff2') format('woff2'),
        url('PFBeauSansPro-Thin.woff') format('woff'),
        url('PFBeauSansPro-Thin.ttf') format('truetype'),
        url('PFBeauSansPro-Thin.svg#PFBeauSansPro-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PF BeauSans Pro';
    src: url('PFBeauSansPro-SemiBold.eot');
    src: url('PFBeauSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('PFBeauSansPro-SemiBold.woff2') format('woff2'),
        url('PFBeauSansPro-SemiBold.woff') format('woff'),
        url('PFBeauSansPro-SemiBold.ttf') format('truetype'),
        url('PFBeauSansPro-SemiBold.svg#PFBeauSansPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

